{% set title = 'About' %}
{% set file_css = '<link rel="stylesheet" href="' ~ url_for('static', filename='css/about.css') ~ '">' %}
{% set bg_image_url = 'images/about_hero.JPG' %}
{% set topic = 'About' %}
{% set caption = 'Learn about Tweens' %}
{% include 'components/hero.html' %}

<!-- Body Section -->

<section class="body">

    <div class="intro">
        <div class="text">
            <h1 style="font-size: 22px">Who We Are</h1>
            <p><strong>Together We Educationally Empower Non-privileged Students (TWEENS)</strong> is a program specifically aimed at supporting refugee youth in Tongogara Refugee Settlement, backed by Education Matters' mission to connect talent with opportunity. TWEENS is a refugee led peer tutoring initiative focused on empowering refugee youth through education and mentorship. Launched during the COVID-19 lockdowns of 2020, TWEENS began as a service learning project by A-Level students from Education Matters' USAP Community School, providing peer tutoring to fellow refugees.</p>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='images/aboutWhoWeAre.png') }}" alt="who we are">
        </div>
    </div>

    <div class="mvv">
        <div class="mission">
            <h1 style="font-size: 22px">Mission</h1>
            <p>Promote education in Tongogara Refugee Settlement by offering quality learning opportunities, resources, and mentorship for refugee youth. This initiative empowers students to overcome challenges and build a better future, fostering a culture of learning and creating pathways to greater opportunities and self reliance.</p>
        </div>
        <div class="vision">
            <h1 style="font-size: 22px">Vision</h1>
            <p>To empower local and refugee youth by providing access to quality education and mentorship, helping them develop the skills and confidence needed to pursue their dreams. Through these opportunities, we aim to break down barriers and create a supportive environment where every young person can reach their full potential, regardless of their circumstances.</p>
        </div>
        <div class="values">
            <h1 style="font-size: 22px">Values</h1>
            <p>Education for empowerment provides quality learning opportunities, equipping children with skills to build brighter futures. By promoting inclusivity and equality, we ensure every child has equal access to education and opportunities to succeed. Through community and collaboration, we foster teamwork and partnerships to create a sustainable impact on education for all.</p>
        </div>
    </div>

    <div class="background">
        <div class="heading">
            <h1 style="font-size: 22px">Background</h1>
        </div>
        <div class="text-boxes">
            <div class="text">
                <p>The TWEENS project in Tongogara Refugee Settlement was created to support academically talented refugees who lack the intellectual resources and counseling to continue their education beyond O-levels. With limited support, many students face high dropout rates, leading to social issues such as early marriages and drug abuse. When schools closed in 2020, TWEENS began as a volunteer tutoring program for 11 students. Tutors initially visited homes and later transitioned to online lessons via WhatsApp. TWEENS also held sessions to highlight the value of education and available scholarships.</p>
            </div>
            <div class="text">
                <p>TWEENS quickly gained attention from students who were unable to attend school during the pandemic and lacked access to online learning. The program attracted donors like Kate Chambers, who provided books, and the Naledi Foundation, which donated lamps for nighttime study. In 2021, refugee student Agathe Mwehu received a Davis Projects for Peace award to fund the renovation of a dedicated TWEENS building. The Zimbabwean government offered a space, and the TWEENS Centre opened in November 2021, providing a space for learning and growth.</p>
            </div>
            <div class="text">
                <p>What started as a tutoring service for 11 students has grown to include 39 volunteers, serving over 200 students with tutoring, study spaces, Wi-Fi, laptops, iPads, and recreational activities. The TWEENS Centre offers extra lessons, a library, and games like Ping-Pong and chess. Awareness campaigns have motivated youths who failed their exams to retake them. In 2023, TWEENS launched an A-Level study program to bridge the gap left by UNHCR funding cuts. The program currently supports 20 students across seven subjects, preparing them for Advanced Level exams, with plans to expand.</p>
            </div>
        </div>
    </div>

</section>

<!-- Our Team -->

<h1 id="team-header" style="margin-top: 30px">Tweens Co-founders</h1>
<hr>

<section class="team">

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/kabelu.jpg') }}" alt="">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Chrinovic Kabelu</h1>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/ishimwe.jpg') }}" alt="">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Damascent Ishimwe</h1>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/olive.jpg') }}" alt="">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Olive Iragena</h1>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/matson.jpg') }}" alt="">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Matson Kitamisi</h1>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/prince.jpg') }}" alt="">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Prince Bashangezi</h1>
        </div>
    </div>

</section>

<!-- Tweens Management -->

<h1 id="team-header" style="margin-top: 30px">Tweens Management on Ground</h1>
<hr>

<section class="team" id="management" style="width: 100%; display: flex; flex-wrap: wrap;">

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/mrEmmanuel.jpg') }}" alt="" style="height: 250px; object-fit: cover">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Emmanuel Shyaka</h1>
            <p style="color: black;">Chairperson</p>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/mussa.jpg') }}" alt="" style="height: 250px; object-fit: cover">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Mussa Mapigano Mingwikwi</h1>
            <p style="color: black;">Vice Chairperson</p>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/bukasa.jpg') }}" alt="" style="height: 250px; object-fit: cover">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Dalicia Bukasa</h1>
            <p style="color: black;">Project Manager</p>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/manasseh.jpg') }}" alt="" style="height: 250px; object-fit: cover">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Manasseh Kazadi</h1>
            <p style="color: black;">Finance</p>
        </div>
    </div>

    <div class="container" style="width: fit-content; padding: 0;">
        <div class="team-image">
            <img src="{{ url_for('static', filename='images/ancilla.jpg') }}" alt="" style="height: 250px; object-fit: cover">
        </div>
        <div class="team-text">
            <h1 style="font-size: 25px">Ancilla Niyirema</h1>
            <p style="color: black;">Secretary</p>
        </div>
    </div>

</section>

<!-- History section -->

<section class="history" style="margin-top: 30px">

    <h1>Our History</h1>
    <hr>

    <div class="time-line">
        <div class="y2020 jsyear">
            2020
        </div>
        <div class="y2021 jsyear">
            2021
        </div>
        <div class="y2022 jsyear">
            2022
        </div>
        <div class="y2023 jsyear">
            2023
        </div>
        <div class="y2024 jsyear">
            2024
        </div>
        <div class="y2025 jsyear">
            2025
        </div>
    </div>

    <div class="years-container" style="width: 70%; margin: auto;"></div>

</section>

{% include 'components/footer.html' %}
