/* Contact Form Section */

.contact-form {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.img-side {
    flex: 1;
}

.img-side img {
    width: 100%;
    border-radius: 10px;
}

.form-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-side h1 {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    color: rgb(72, 72, 72);
}

.form-side input,
.form-side select,
#textbox{
    margin: 10px;
    margin-right: 20px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 5px rgb(169, 169, 169);
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

#textbox {
    height: 80px;
}

#formSubmit {
    margin-top: 10px;
    background-color: rgb(0, 157, 255);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: auto;
    font-weight: 600;
    transition: 0.6s;
}

#formSubmit:hover {
    background-color: blue;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.form-side select {
    opacity: 0.7;
}

.form-side label {
    margin: 10px;
    margin-right: 20px;
    border: none;
    font-size: 20px;
    padding: 5px;
}


/* Direct contact section */

.direct-contact-section {
    padding: 10px;
    margin-bottom: 10px;
}

.direct-contact-section h1 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
}

hr {
    width: 30%;
    margin-left: 0;
}

.direct-contact-container {
    display: flex;
    width: 98%;
    justify-content: space-between;
    padding: 10px;
}

.direct-contact {
    flex: 1;
    box-shadow: 0px 0px 7px rgb(211, 211, 211);
    background-color: rgba(48, 241, 255, 0.1);
    margin-right: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.direct-contact h1 {
    font-size: 25px;
    font-weight: 900;
    color: rgb(72, 72, 72);
}

.direct-contact a {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.direct-contact a:hover {
    background-color: blue;
    color: blue;
    border: 1px solid blue;
}

.direct-contact #livechat {
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
}

.map {
    flex: 4;
}

iframe {
    border-radius: 5px;
}

/*Responsive arena*/

@media (max-width: 700px) {

   .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-form .img-side {
        margin-top: 15px;
    }

    .direct-contact-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .direct-contact {
        margin: auto;
        margin-bottom: 15px;
    }

    .direct-contact-section h1 {
        font-size: 30px;
    }

    hr {
        width: 40%;
    }

}

