/* Header Section */

.header-container {
    width: 98.3%;
    height: 40vh;
    background-image: linear-gradient(rgba(32, 31, 31, 0.5), rgba(32, 31, 31, 0.5)), url(../images/home2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.header-text {
    text-align: left;
    color: whitesmoke;
}

.header-text h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.header-text p {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 0px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    margin-right: 60px;
}

.nav-items a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.6s;
    padding: 5px;
    width: fit-content;
}

.nav-items a:hover {
    background-color: rgba(104, 163, 21, 0.5);
    border-radius: 5px;
}


/* Responsive territory */

@media (max-width: 700px) {

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container h1{
        font-size: 30px;
    }

    .header-container p{
        font-size: 20px;
    }
}
